    <section class="join success" id="join">
        <div class="container">
          <!--
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Doe je mee?</h2>
                    <hr class="star-light">
                </div>
            </div>
          -->

            <div class="row">
              <div class="col-md-8 col-md-offset-2 vision-sentence">
                <p>
                  Wij hebben een droom van een wereld die mooier kan zijn. En dat kunnen en willen
                  we niet alleen beginnen te leven. Doe je mee?
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <p>
                  Wil je meer weten over ons? Lees dan dit stuk over ons in <a href="Dorothy_in_DeLinkerWang_oktober2021.pdf">De Linkerwang</a> (oktober 2021), dit interview met Anna in <a href="https://eva.eo.nl/artikel/2021/09/anna-woont-met-haar-gezin-in-een-leefgemeenschap">Eva Online</a> (september 2021) of lees onze updates in <a href="https://korrelzout.noelhuis.nl/">'n Korrel Zout</a>. 
                  </p>
                  <p>
                     Wil je meer weten over christelijke leefgemeenschappen in het algemeen? Anna en Herman hebben het afgelopen jaar gewerkt aan een rapport voor de <a href="https://verenigingreligieuzeleefgemeenschappen.nl/rapport-over-leefgemeenschappen/">Vereniging Religieuze Leefgemeenschappen</a> met een overzicht en analyse van christelijke leefgemeenschappen in Nederland. Over het rapport is er een interview met Anna verschenen in het <a href="https://www.rd.nl/artikel/954069-leefgemeenschap-maakt-lichte-orthodoxie-mogelijk">RD</a>. 
                </p>
              </div>
               
              <div class="col-md-6">
                <p>
                  Als er nieuwe ontwikkelingen zijn, willen we je het graag laten weten.
                </p>
                <p class="text-center">
                  <a href="//noelhuis.us15.list-manage.com/subscribe?u=c05b2751ed448a24c8afb9463&amp;id=36a3c6245d" class="btn btn-primary" target="_blank">
                    <i class="fa fa-envelope"></i>&nbsp;
                    Ik wil op de mailing-list
                  </a>
                </p>
                <p>
                  Kijk ook eens bij ons op
                  <a href="https://facebook.com/Dorothygemeenschap">Facebook</a>.
                  </p>
                <p>
                  Zijn er dingen die wij absoluut moeten weten? Zou je ons willen helpen
                  met klussen, de tuin inrichten, of anders willen helpen? 
                  Of wordt je warm van onze visie, en wil je eens kletsen?
                  <a href="mailto:contact@dorothygemeenschap.nl">mail eens</a> of kom langs!
                </p>
              </div>
            </div>
        </div>
    </section>
