    <section class="people" id="wie-zijn-we">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Wie wij zijn</h2>
                    <hr class="star-primary">
                </div>
            </div>
              <div class="row faces-container">
                {% assign people_count = site.people | size %}
                {% for person in site.people %}
                  <div class="people-item text-center" style="width: {{ 100 | divided_by:people_count | round:1 }}%">
                        <div class="img-face-container">
                          <img src="img/{{ person.img }}" class="img-responsive img-face" alt="{{ person.name }}">
                          <div class="img-face-blur"></div>
                        </div>
                        <div class="img-face-caption hidden-xs hidden-sm">{{ person.first_name }}</div>
                    </a>
                  </div>
                {% endfor %}
            </div>
            <div class="row people-desc">
              <div class="panel panel-default tabs-virgin">
                
              </div>
            </div>
        </div>
    </section>
<section class="success" id="wie-zijn-we">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ons Verhaal</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <p>De Dorothy gemeenschap is in 2020 neergestreken in de Amstelveense Bovenkerkerpolder.</p>
                    <p>In de jaren daar voorafgaande was een initiatiefgroep van 5 jonge mensen al hard bezig met 
                        die droom te realiseren. Onze visie voor een gastvrije leefgemeenschap ontstond en we stonden 
                        te trappelen om die idealen in de praktijk te brengen. Een geschikte locatie vinden was echter 
                        nog niet zo gemakkelijk. We waren daarom enorm blij en dankbaar dat de Protestantse diaconie 
                        van Amsterdam een stuk land in Amstelveen wilde kopen en ons aanbood op één van deze erven onze 
                        gemeenschap te realiseren door van hen te huren. Hierdoor werden we ook buren van Boerderij de 
                        Meent, waar we heel blij mee zijn!</p>
                         <div class="text-center">
                      <a href="#ons-verhaal" class="btn btn-outline" data-toggle="modal">
                        Lees verder <i class="glyphicon glyphicon-chevron-right"></i>
                      </a>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Onze inspiratie</h2>
                <hr class="star-primary">
              </div>
              <div class="col-lg-12">
                <p>Wij halen veel inspiratie uit de <a href="http://catholicworker.org/">Catholic Worker</a>
                beweging en voelen ons hiermee verbonden.
                Deze beweging bestaat uit zelfstandige gemeenschappen van radicale gelovigen die hulp aan mensen
                aan de rand van de samenleving combineren met directe actie voor een meer rechtvaardige wereld.</p>
                <p>Andere mooie voorbeelden vinden we in bewegingen zoals de
                <a href="https://www.emmaus-international.org/en">Emmaüs-</a> en
                <a href="http://www.larche.org/">L'Arche</a>-gemeenschappen,
                <a href="https://en.wikipedia.org/wiki/New_Monasticism">New Monasticism</a>,
                <a href="http://www.taize.fr/en">Taizé</a>,
                diverse kloostertradities en de levenswijze van de eerste christenen.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Twee Dorothy's</h2>
                <hr class="star-primary">
              </div>
              <div class="col-lg-12">
                <p>Maar wie is Dorothy nou eigenlijk? Die vraag krijgen we regelmatig. Wij hebben onze gemeenschap vernoemd 
                    naar twee inspirerende vrouwen, beiden met de naam ‘Dorothy’.</p>
              </div>
            </div>
              <div class="row">
                  <div class="col-lg-6">
                    <p><img class="img-responsive" src="/img/Dorothy-Day-Colourised.jpg" alt="" style="width: 30%;"/>
                      <b>Dorothy Day</b> (1897-1980) was journalist, schrijver en activist en stond aan de start van de wereldwijde 
                      Catholic Workerbeweging. </p>
                    <div class="text-center">
                      <a href="#dorothy-day" class="btn btn-outline" data-toggle="modal">
                        Lees verder <i class="glyphicon glyphicon-chevron-right"></i>
                      </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                      <img class="img-responsive" src="/img/Dorothy-Stang.jpg" alt="" style="width: 30%;"/>
                      <b>Dorothy Stang</b> (1931-2005) was een Noord-Amerikaanse zuster die zich samen met haar mede zusters 
                      (Sisters of Notre Dame de Namur) sinds begin jaren ‘70 inzette voor bescherming van het Braziliaanse 
                      regenwoud en de rechten van de arme boeren die daar woonden.
                    </p>
                    <div class="text-center">
                      <a href="#dorothy-stang" class="btn btn-outline" data-toggle="modal">
                        Lees verder <i class="glyphicon glyphicon-chevron-right"></i>
                      </a>
                    </div>
                </div>
                  <div class="col-lg-12">
                <p>
                Deze twee vrouwen inspireren ons omdat ze in hun eigen leven solidair wilden zijn met de armen 
                      en onderdrukten, en een leven van gebed combineerden met zowel praktische liefdadigheid als 
                      concrete actie voor een rechtvaardigere toekomst.
                </p>
                  </div>

    
              </div>
            </div>

    </section>
