    <section class="people" id="wie-zijn-we">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Wie wij zijn</h2>
                    <hr class="star-primary">
                </div>
            </div>
              <div class="row faces-container">
                {% assign people_count = site.people | size %}
                {% for person in site.people %}
                  <div class="people-item text-center" style="width: {{ 100 | divided_by:people_count | round:1 }}%">
                        <div class="img-face-container">
                          <img src="img/{{ person.img }}" class="img-responsive img-face" alt="{{ person.name }}">
                          <div class="img-face-blur"></div>
                        </div>
                        <div class="img-face-caption hidden-xs hidden-sm">{{ person.first_name }}</div>
                    </a>
                  </div>
                {% endfor %}
            </div>
            <div class="row people-desc">
              <div class="panel panel-default tabs-virgin">
                
              </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <p>De Dorothy gemeenschap is in 2020 neergestreken in de Amstelveense Bovenkerkerpolder.</p>
                    <p>In de jaren daar voorafgaande was een initiatiefgroep van 5 jonge mensen al hard bezig met 
                        die droom te realiseren. Onze visie voor een gastvrije leefgemeenschap ontstond en we stonden 
                        te trappelen om die idealen in de praktijk te brengen. Een geschikte locatie vinden was echter 
                        nog niet zo gemakkelijk. We waren daarom enorm blij en dankbaar dat de Protestantse diaconie 
                        van Amsterdam een stuk land in Amstelveen wilde kopen en ons aanbood op één van deze erven onze 
                        gemeenschap te realiseren door van hen te huren. Hierdoor werden we ook buren van Boerderij de 
                        Meent, waar we heel blij mee zijn!</p>
                    <p>In 2020 begonnen we in een tweedehandse tijdelijke woonunit. Het erf stond toen nog vol met een 
                        vervallen huis en schuurtjes die op de planning stonden voor de sloop. In de eerste jaren van de
                        gemeenschap hebben we de omgeving en onze buurtgenoten in Nes aan de Amstel, Uithoorn en Amstelveen
                        leren kennen en coördineerden we een biologische buurtmoestuin op het erf van De Meent. Ook bouwden
                        we in deze tijd een ‘kapel op wielen’, die in het weiland achter ons huis open toegankelijk is voor
                        voorbijgangers op zoek naar stilte en waar we zelf terecht kunnen voor onze gezamenlijke gebedsmomenten.</p>
                    <p>In 2023 werd begonnen met de bouw van het nieuwe gemeenschapshuis. In juni 2024 werd het huis opgeleverd 
                        en begonnen we aan een aantal maanden klussen, samen met een boel behulpzame vrienden, familie en 
                        vrijwilligers. We vonden en kregen veel tweedehands en duurzaam materiaal (van een keuken tot 
                        parketvloer tot meubels) en vierden in oktober 2024 de opening van het nieuwe huis met een groot feest. 
                        Sindsdien hebben we 6 gastenkamers beschikbaar voor mensen die tussen wal en schip vallen en een 
                        logeerplek nodig hebben. Zij hoeven in de tijd dat ze bij ons verblijven even niet bezig te zijn 
                        met het overleven van dag-tot-dag, maar kunnen vanuit een stabiele thuisbasis werken aan een 
                        toekomstperspectief. Hiervoor werken we samen met een aantal organisaties die maatschappelijke en 
                        juridische hulpverlening bieden.</p>
                    <p>In de Dorothy gemeenschap is het nooit saai: er zijn altijd wel kinderen aan het spelen, iemand in 
                        de keuken voor een praatje of een klusje in de tuin. Onze gastbewoners brengen elk hun eigen talenten 
                        en levenservaring mee waardoor we dagelijks van elkaar 
                        blijven leren. Ben je geïnteresseerd om eens langs te komen? Neem gerust contact op!</p>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Onze inspiratie</h2>
                <hr class="star-primary">
              </div>
              <div class="col-lg-12">
                <p>Wij halen veel inspiratie uit de <a href="http://catholicworker.org/">Catholic Worker</a>
                beweging en voelen ons hiermee verbonden.
                Deze beweging bestaat uit zelfstandige gemeenschappen van radicale gelovigen die hulp aan mensen
                aan de rand van de samenleving combineren met directe actie voor een meer rechtvaardige wereld.</p>
                <p>Andere mooie voorbeelden vinden we in bewegingen zoals de
                <a href="https://www.emmaus-international.org/en">Emmaüs-</a> en
                <a href="http://www.larche.org/">L'Arche</a>-gemeenschappen,
                <a href="https://en.wikipedia.org/wiki/New_Monasticism">New Monasticism</a>,
                <a href="http://www.taize.fr/en">Taizé</a>,
                diverse kloostertradities en de levenswijze van de eerste christenen.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Twee Dorothy's</h2>
                <hr class="star-primary">
              </div>
              <div class="col-lg-12">
                <p>Maar wie is Dorothy nou eigenlijk? Die vraag krijgen we regelmatig. Wij hebben onze gemeenschap vernoemd 
                    naar twee inspirerende vrouwen, beiden met de naam ‘Dorothy’.</p>
                  <p><b>Dorothy Day</b> (1897-1980) was journalist, schrijver en activist en stond aan de start van de wereldwijde 
                      Catholic Workerbeweging. In haar jonge jaren in New York was ze verslaggever voor een socialistische 
                      krant en actief in de strijd voor het vrouwenkiesrecht. Ze raakte geleidelijk geïnteresseerd in het 
                      katholieke geloof en in 1932 komen haar sociale activisme en diepgewortelde geloof bij elkaar als ze 
                      Peter Maurin ontmoet. Hij is geïnspireerd door Sint Franciscus en 
                      het personalisme van filosoof Emmanuel Mounier en wil graag met Dorothy wil samenwerken.</p>
                  <p>Ze beginnen samen een krantje: ‘The Catholic Worker’. Daarin schreven zij over de progressieve sociale 
                      leer van de kerk, zodat de veelal katholieke arme arbeiders uit hun eigen traditie konden putten in hun strijd 
                      voor sociale rechtvaardigheid. In de krant wordt ook Peter Maurin’s ‘programma’ gepubliceerd: Ronde-tafeldiscussies 
                      voor het scherpen van het denken, huizen van gastvrijheid om de werken van barmhartigheid in de praktijk te 
                      brengen en boerderij-gemeenschappen waar arbeiders en intellectuelen van elkaar zouden kunnen leren. De Catholic 
                      Workers probeerden ‘een nieuwe samenleving in de schil van de oude op te bouwen, een samenleving waar het makkelijker
                      is om goed te zijn’. 
                      Zo ontstonden er verschillende gemeenschappen en soepkeukens, veelal in de stad, sommigen op het platteland.</p>
                  <p>Inmiddels is de Catholic Worker een wereldwijde beweging met vele ‘huizen van gastvrijheid’. Er 
                      zijn ongeveer 200 autonome gemeenschappen, de meesten in de Verenigde Staten en een stuk of 12 
                      in Europa. De beweging is tegenwoordig sterk oecumenisch en elke gemeenschap probeert op hun eigen 
                      wijze vorm te geven aan de pijlers van de beweging: praktische steun aan gemarginaliseerde mensen, 
                      eenvoudig leven, geweldloosheid en actief verzet tegen onrechtvaardige structuren.</p>
                  <p><b>Dorothy Stang</b> (1931-2005) was een Noord-Amerikaanse zuster die zich samen met haar mede zusters 
                      (Sisters of Notre Dame de Namur) sinds begin jaren ‘70 inzette voor bescherming van het Braziliaanse 
                      regenwoud en de rechten van de arme boeren die daar woonden. Ze leefde dicht bij de boerengemeenschappen 
                      en hielp hen in hun levensonderhoud te voorzien door gebruik te maken van duurzame landbouwtechnieken 
                      waarbij kleine percelen werden bewerkt zonder dat er ontbossing plaatsvond.</p>
                  <p>In de loop der jaren werd het werk steeds gevaarlijker voor de zusters in Brazilië en voor de boeren 
                      en hun families. Geleidelijk aan werden houthakkers, veehouders, grondspeculanten en de 
                      agro-industrie de dominante machten in de regio, die de armere boeren met behulp van criminele 
                      bendes verdreven en het regenwoud vernietigden. Dorothy zette zich in om de gemeenschappen hiertegen 
                      te beschermen.</p>
                  <p>Ze zei: ‘Ik wil niet vluchten, noch wil ik de strijd van deze boeren, die zonder enige bescherming in 
                      het bos leven, opgeven. Zij hebben het heilige recht om te streven naar een beter leven op land waar 
                      ze met waardigheid kunnen leven en werken, met respect voor het milieu.’</p>
                  <p>In de regio waar Dorothy woonde en werkte bestaat een derde van de sterfgevallen uit huurmoorden op 
                      mensenrechtenactivisten, milieuactivisten en lokale boeren. Het doel hiervan is om het verzet tegen 
                      de kaalslag van het regenwoud de mond te snoeren zodat het land gebruikt kan worden voor de vee-industrie. 
                      Degenen die de boerengemeenschappen ondersteunen door middel van onderwijs worden uitgeschakeld en 
                      de boeren geïntimideerd en gevangen gehouden in een cyclus van schulden. Dorothy Stang werd een 
                      belangrijk doelwit en werd in 2005 vermoord omdat ze programma’s had opzet die zelfvoorzienende 
                      gemeenschappen creëerden van mensen die zich inzetten voor hun eigen onafhankelijkheid en het 
                      behoud van het regenwoud.</p>
                  <p>Dorothy Stang was zich zeer bewust van de kritieke rol die de amazone, ‘de longen van de aarde’, 
                      speelt voor onze planeet. Ze droeg vaak een t-shirt met de Portugese slogan: ‘A Morte da floresta é o fim da nossa vida’: 
                      De dood van het bos is het einde van ons leven.</p>
                  <p>Deze twee vrouwen inspireren ons omdat ze in hun eigen leven solidair wilden zijn met de armen 
                      en onderdrukten, en een leven van gebed combineerden met zowel praktische liefdadigheid als 
                      concrete actie voor een rechtvaardigere toekomst.</p>
                
              </div>
            </div>
            
        </div>
    </section>
