
    <section class="status" id="praktisch">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Wil je meedoen?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>
                  Elke dinsdag werken we in de moestuin. Iedereen is welkom! Lijkt het je leuk om samen meer te leren over biologisch tuinieren? 
                    En wil je wel eens groente eten die je zelf hebt gezaaid? Doe mee!
                    Ook zijn we regelmatig aan het klussen. We bouwen momenteel aan een stilte-ruimte op wielen. Vrijwilligers zijn erg welkom!
                </p>
                <p>
                  Heb je zin om met ons mee te tuinieren of klussen? Of heb je
                  tips of ideeën die je met ons wil delen? Kom eens langs bij
                  onze woonunit op de <a href="https://www.openstreetmap.org/node/2799382644">Middenweg Bovenkerkerpolder 1 in Amstelveen</a>,
                  of <a href="mailto:contact@dorothygemeenschap.nl">mail ons</a>.
                </p>
              </div>
            </div>
        </div>
    </section>
