

    <section class="status" id="praktisch">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Wil je meedoen?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                  <h3>Moestuin</h3>
                <p> Elke dinsdagochtend van 10:00 tot 12:30 werken we in de moestuin. Daarna lunchen we samen. Iedereen is welkom! Ook gewoon een keertje op de bonnefooi. Lijkt het je leuk om samen meer te leren over biologisch tuinieren? 
                    En wil je wel eens groente eten die je zelf hebt gezaaid? Doe mee! (Let op: de moestuin is bij onze buren op nr. 6!)</p>
                  <h3>Klussen</h3>
                    <p>We zijn regelmatig aan het klussen. We zijn momenteel bezig met en onze kapel op wielen afwerken. Vrijwilligers zijn erg welkom!</p>
                  <h3>Bidden</h3>
                  <p> Elke donderdagochtend om 9:15 bidden we. Wees welkom om mee te doen. We bidden in de stijl van Taizé, met veel meditatieve zang. 
                      Het gebed duurt ongeveer een half uur. Het gebed is in onze kapel op wielen, achter op ons erf met uitzicht op de polder.
                 </p>
                <p>
                  Heb je zin om met ons mee te tuinieren, klussen of bidden? Of heb je
                  tips of ideeën die je met ons wil delen? Kom eens langs bij
                  onze woonunit op de <a href="https://www.openstreetmap.org/node/2799382644">Middenweg Bovenkerkerpolder 1 in Amstelveen</a>,
                  of mail ons op <a href="mailto:contact@dorothygemeenschap.nl">contact@dorothygemeenschap.nl</a>.
                </p>
              </div>
            </div>
        </div>
    </section>
