    <section class="success" id="visie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Onze Visie</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 vision-sentence">
                  <p>
                    Wij zijn een <em>gastvrije gemeenschap</em> die vanuit een
                    <em>spiritualiteit van eenvoud</em> een boodschap van
                    <em>barmhartigheid en rechtvaardigheid</em> wil uitdragen.
                  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>
                      Een plek waar we in gemeenschap leven. Waarin het makkelijker is een goed mens te zijn.
                      Waar gastvrijheid is, vooral ook voor kwetsbare mensen.
                    </p>
                    <div class="text-center">
                      <a href="#visie-gemeenschap" class="btn btn-outline" data-toggle="modal">
                        Lees verder <i class="glyphicon glyphicon-chevron-right"></i>
                      </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p>
                      Spiritualiteit is het kloppend hart van onze gemeenschap. Een plek van stilte,
                      bezinning en inspiratie. En een simpele levensstijl, die bijdraagt aan een
                      eerlijkere wereld. Verbondenheid in alles wat we doen.
                    </p>
                    <div class="text-center">
                      <a href="#visie-spiritualiteit" class="btn btn-outline" data-toggle="modal">
                        Lees verder <i class="glyphicon glyphicon-chevron-right"></i>
                      </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p>
                      We willen het onrecht dat aanwezig is in onze maatschappij, waar wij deel
                      van zijn, aankaarten. Door geweldloos actie te voeren. Door onze deuren te
                      openen voor kwetsbare mensen. Door bewust te consumeren en te produceren.
                    </p>
                    <div class="text-center">
                      <a href="#visie-barmhartig-rechtvaardig" class="btn btn-outline" data-toggle="modal">
                        Lees verder <i class="glyphicon glyphicon-chevron-right"></i>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
